<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5%" style="height: 100%; "[formGroup]="form" >
        <h3 >Welcome Please login</h3>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
       

        <mat-form-field fxFlex="300px">
            <mat-placeholder>Email</mat-placeholder>
            <input type="text" matInput formControlName="email">
        </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-form-field fxFlex="300px">
            <mat-placeholder>Password</mat-placeholder>
            <input type="text" matInput formControlName="password">
        </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <button color="primary" style="width: 200px" mat-raised-button (click)="login()" >Sign In</button>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center center">
            <button style="width: 200px" color="primary" mat-raised-button (click)="signUp()">Sign Up</button>
        </div>

    <h4 style="margin-top: 30%">Or sign in with</h4>


</div>