<h2 mat-dialog-title style="text-align: center"> Add a new Place</h2>

<mat-dialog-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1%" style="height: 70%">

  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field fxFlex>
      <mat-placeholder>Name</mat-placeholder>
      <input type="text" matInput [(ngModel)]="name" required name="name" #n="ngModel">
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%">
      <mat-list-item fxLayout="row">
        <p fxFlex>My location </p> 
        <mat-slide-toggle style="margin-left: 30px; margin-top: 15px" [(ngModel)]="useCurrentLocation" >{{useCurrentLocation ? 'Yes' : 'NO'}}</mat-slide-toggle>
      </mat-list-item>
    </div>

  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!useCurrentLocation">
    <mat-form-field fxFlex>
      <mat-placeholder>Address</mat-placeholder>
      <input type="text" matInput [formControl]="address">
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-list  fxLayout="column" fxLayoutGap="1%" fxFlex *ngIf="hits$ | async as hits">
      <mat-list-item *ngFor="let hit of hits" (click)="onChooseAddy(hit)">
        {{hit.address}}
      </mat-list-item>
    </mat-list>


  </div>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button color="danger" (click)="onCancel()" >Cancel</button>
  <button mat-raised-button color="primary" [disabled]="(address.invalid && !useCurrentLocation) || n.invalid" (click)="onProceed()">Finish</button>
</mat-dialog-actions>