<mat-sidenav-container>
    <mat-sidenav [opened]="navOpened" (closedStart)="navOpened = false">
        <mat-nav-list *ngIf="navItems$ | async as navItems">
            <mat-list-item>
                <h4 style="text-align: center">Menu</h4>
            </mat-list-item>
            <mat-list-item *ngFor="let item of navItems" (click)="onNavigate(item.name)">
                <mat-icon>{{item.icon}}</mat-icon> <p>{{item.name}}</p>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-nav  (toggleNav)="navOpened = !navOpened"></app-nav>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>